body{
    background-color: wheat;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accordion{
    background-color: whitesmoke;
    width:30%;
    padding:20px;
    border-radius: 20px;
}

.accordion .accordion-title{
    color:rgb(237, 163, 72);
    border-bottom: solid rgb(27, 27, 26) 2px;
    border-width: 2.5px;
}

.accordion .content-container .question{
    font-weight: 900;
    padding: 15px 0;
    border-bottom: solid black 1px;
    margin-top: 10px;
    cursor:pointer;
    position: relative;
}

.accordion .content-container .question::after{
    content : "+";
    position: absolute;
    right: 2px;
}

.accordion .content-container .answer{
    padding-top : 15px;
    font-size : 22px;
    line-height:1.5;
    width:100%;

    height:0px;
    overflow:hidden;
    transition: 0.5s;
}

/* JS Styling link */
.accordion .content-container.active .answer{
    height: 200px;
}

.accordion .content-container.active .question::after{
    content: "-";
    font-size:20px;

}

.accordion .content-container.active .question{
    color: blue;
}